@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Inter:wght@100;300;400;500;700;800;900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

// Color Styles
$primary: #FBC257;
$primary-light: #FCCC73;
$dark-brown: #341413;
$gray-1: #798092;
$gray-2: #E6E6ED;
$white: #FFFFFF;

// Font Size Desktop
$header-1: 64px;
$header-2: 48px;
$header-3: 42px;
$header-4: 32px;
$text-medium: 18px;
$text-regular: 16px;
$text-light: 13px;

// Font Weight
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

body {
    font-family: 'Poppins', sans-seri;
}

// BUTTON PRIMARY
.btn {
    padding: 15px 25px;
    border-radius: 6px;
    font-size: $text-medium;
    font-weight: $font-weight-medium;
    border: none;

    &.btn-primary {
        background-color: $primary;

        &:focus,
        &:hover {
            background-color: $primary-light;
        }
    }

    &.btn-secondary {
        background-color: $gray-2;
        color: $gray-1;

        &:focus,
        &:hover {
            background-color: $white !important;
            box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
            color: $gray-1;
        }
    }
}

// NAVBAR
.navbar-brand img {
    padding-right: 16px;
    width: 50px;
    height: auto;
    object-fit: contain;
}

.navbar-brand span {
    font-size: $text-medium;
    font-weight: $font-weight-bold;
    color: $dark-brown;
}

.navbar {
    padding: 48px 0;

    .navbar-nav {
        transition: transform 0.3s ease-in-out;

        a:hover {
            transform: scale(1.1);
            background-color: $primary-light;
        }
    }

    a.nav-link {
        margin-right: 39px;
        font-weight: $font-weight-regular;
        font-size: $text-regular;
        color: $dark-brown !important;
    }
}

// HERO
section.hero {
    margin: 5rem 0;

    .text-label {
        color: $primary;
        font-size: $text-regular;
        font-weight: $font-weight-regular;
        line-height: 31px;
    }

    .text-hero-bold {
        color: $dark-brown;
        font-size: $header-1;
        font-weight: $font-weight-bold;
        line-height: 74px;
    }

    .text-hero-regular {
        color: $gray-1;
        font-size: $text-regular;
        font-weight: $font-weight-regular;
        line-height: 31px;
    }
}

// TESTIMONI BRAND
.testimoni-brand {
    padding: 24px 0;

    @media (min-width: 1399.98px) {
        padding: 4rem 5rem;
    }
}

// MOBILE VERSION
@media (max-width: 576px) {
    .navbar {
        padding: 28px 0;
    }

    a.nav-link {
        margin-right: 7px 0;
    }

    #login-btn {
        width: 100%;
        background-color: $primary;
    }

    section.hero {
        margin: 2rem 0;
        text-align: center;

        .btn {
            display: block;
            margin: 1rem 0;
        }

        .ms-3 {
            margin-left: 0 !important;
        }

        .text-label,
        .text-hero-bold,
        .text-hero-regular {
            text-align: center;
        }

        .text-hero-bold {
            font-weight: $font-weight-bold;
            font-size: $header-3;
            line-height: 64px;
        }

        img {
            margin: 2rem 0;
        }
    }
}

// TABLET VERSION
@media (max-width: 768px) {
    .navbar,
    section.hero {
        padding: 28px 0;
    }

    a.nav-link {
        margin-right: 7px 0;
    }

    .text-hero-bold {
        font-weight: $font-weight-bold;
        font-size: $header-3;
        line-height: 64px;
    }

    img {
        margin: 2rem 0;
    }
}

// TABLET MEDIUM & LARGE VERSION
@media (max-width: 992px) {
    .navbar,
    section.hero {
        padding: 28px 0;
    }

    a.nav-link {
        margin-right: 7px 0;
    }

    .text-hero-bold {
        font-weight: $font-weight-bold;
        font-size: $header-3;
        line-height: 64px;
    }

    img {
        margin: 2rem 0;
    }
}
